.ck-editor-container {
    max-width: 800px !important;
}

.ck-powered-by-balloon {
    visibility: hidden !important;
    z-index: -9999 !important;
    text-indent: -9999999999px !important;
    opacity: 0 !important;
}